$maincolor : blueviolet;
.todolist{
  span{
    background: none;
  }
  .checkbox{
    border: none;
    background-color: slategray;
  }
  .checkbox:checked{
    background-color: $maincolor;
  }
  .btn{
    font-size: 1.4rem;
  }

}
.completed{
  font-style: italic;
  text-decoration: line-through;
  color: gray;
  user-select: none;
}
.input-group-text{
  background-color: white;
  border: none;
}
.list-group{
  height: 22rem;
  .delete:hover,
  .delete:focus{
    background: red;
  }
}
nav{
  .page-link{
    color: dimgrey;
  }
  .page-link:focus{
    color: white;
    background: dodgerblue;
  }
}